body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 220px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}


/* Search ---------------------------------------*/

#search {
    position: relative;
    margin-right: 10px;
    top: 70px;
}

#search label {
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
    color: #999;
}
/* Chart popup */

div.nytg-popup {
    border: 1px solid #bbbbbb;
    color: black;
    background-color: white;
    position: absolute;
    font-family: Arial, Helvetical, sans-serif;
    padding: 10px;
    max-width: 160px;
    /* */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.nytg-popup-title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
}

.nytg-popup table {
    margin-top: 4px;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    width: 100%;
}

.nytg-popup td {
    text-align: center;
}

.nytg-popup td.row1 {
    padding-top: 6px;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
}

.nytg-popup td.row2 {
    /*(padding-left: 10px*/
    font-size: 11px;
    color: #666;
}

.nytg-popup td.col2 {
    padding-left: 10px;
}


.nytg-popup .nytg-popup-label {
    color: #666;
    font-weight: normal;
    font-size: 11px;
    padding-right: 5px;
}

.nytg-popup .nytg-popup-value {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.nytg-popup-line {
    line-height: 15px;
}

.nytg-ipo-label {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

.ledeStory .insetHFullWidth .storyHeader .dateline {
    line-height: 2.4em;
    margin-bottom: 3px;
    margin-top: 0px;
}

.insetHFullWidth #articleToolsTop {
    margin-bottom: 0;
    margin-top: 0px;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
}
/* workarounds */

* html .ui-autocomplete {
  width: 1px;
}
/* without this, the menu expands to 100% in IE6 */
/*
* jQuery UI Menu 1.8.20
*
* Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Menu#theming
*/

.ui-menu {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
  display: block;
  float: left;
  background: #fff;
  border: 1px solid #bbb;
  list-style-type: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.ui-menu .ui-menu {
  margin-top: -3px;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  background: none;
  border-bottom: 1px solid #f4f4f4;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  zoom: 1;
  color: #000;
  font: 11px/15px Arial;
  border: 0;
  cursor: pointer;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  background: #ccd9e4;
}
